[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]

[requires]
python_version = "3.8"

[scripts]
runMain = "python -m src"
runBuild = "pyinstaller --onefile -i resources/icon/fun.ico -n fun src/__main__.py"
